.header_section{
    margin-bottom: 20px;
}
.list_ordre{
    display: flex;
    margin-top: 25px;
}
.list_ordre img{
    margin-left: 98px;
}
.navBar_bottom{
    font-family: 'Poppins',sans-serif;
    display: flex;
    margin-left: 133px;
}
.logo{
    width: 20%;
    float: left;
    padding-right: 7%;
    padding-left: 15%;
    padding-top: 10px;
}
.navBar_bottom{
    padding-top: 2%;
}
.navBar_bottom li a {
    text-decoration: none;color: black;
}
.navBar_bottom #first{
    display: inline-block;margin-right: 5%;
    
}
.navBar_bottom #second{
    display: inline-block;margin-right: 5%;
}
.navBar_bottom #third{
    display: inline-block;margin-right: 5%;
}
.navBar_bottom #fourth{
    display: inline-block;margin-right: 5%;
}
.container{
    padding-right: 20rem;
    padding-left: 10rem;
}
.container .container_left{
    width: 39%;
      float: left;
      margin-left: 3%;
      padding-top: 40px;
}
.container .container_left h1{
    font-size: 46px;color: rgba(9, 75, 114, 1);
}
.container .container_left p{
    margin-top: 4%;
       font-family: Plus Jakarta sans-serif , sans-serif;
       color: #8b8c8c;
       color: #000000; 
    background-color: #ffffff; 
    font-size: 16px; 
    font-weight: normal;
    
}

.container .container_left p{
    margin-top: 9%;
    font-family: Plus Jakarta sans-serif , sans-serif; 
    color: #000000; 
    background-color: #ffffff; 
    font-size: 16px;
    font-weight: normal;
}

.container .container_left button{
    margin-top: 5%;
    background-color: rgba(9, 75, 114, 1);
    color: white;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    padding: 20px 55px;
    font-family: Poppins,Regular, sans-serif;
}

.container .container_left img{
    margin-top: 20px;
        width: 65%;
}
.container .container_right{
    width: 51%;
      position: relative;
      padding-left: 65%;
}
.container .container_right .first_img{
    position: absolute; 
}
.container .container_right .first_img img{
    width: 121%;
}
.container .container_right .second_img{
    position: absolute; 
}
.container .container_right .second_img img{
    position: absolute;
         top: 100px;
         left: 114px;
         width: 274px;
}
.container .container_right .charte{
    position: absolute;
    width: 176px;
    margin-top: 33rem;
    border: none;
    border-radius: 6px;
    box-shadow: 0px 19px 14px 0px #0000001c;
    margin-left: 10rem;
    color: #000000; 
    background-color: #ffffff; 
    font-size: 12px; 
    font-weight: normal; 
}
.container .container_right .charte strong{
    font-family: Plus Jakarta Sans, Bold;
        font-size: 15px;
        padding-left: 3px;
        color: rgba(51, 71, 91, 1);
        margin-left: 15px;
}
.container .container_right .charte p{
    font-family: Plus Jakarta Sans, Medium;
    padding-left: 50px;
    color: #000000;
    background-color: #ffffff; 
    font-size: 12px; 
    font-weight: normal;
}
.service_section{
    margin-top: 36rem;
    display: flex;
    flex-direction: row;
    background-color: rgba(242, 247, 255, 1);
    padding-bottom: 12rem;
}
.service_section .right{
    display: flex;
        flex-direction: column;
        margin-bottom: 6rem;
}
.service_section .right h2{
    margin-left: 1rem;
         font-size: 2rem;
         margin-right: 50rem;
         margin-top: 12rem;
         padding-left: 11rem;
}
.service_section .right p{
font-family: Poppins, regular,sans-serif;
         margin-right: 45rem;
         margin-left: 12rem;
         color: rgba(151, 151, 151, 1);
         color: #000000; 
         background-color: #f2f7ff;
         font-size: 16px; 
         font-weight: normal;
}
.service_section .left{
    display: flex;
        align-content: center;
        flex-wrap: wrap;
        margin-left: -629px;
        margin-top: 8rem;
}
.service_section .left .maintenance{
    width: 237px;
         padding-left: 3rem;
         background-color: white;
         margin-right: 3rem;
         box-shadow: 0px 1px 20px 0px #0000001a;
         border-radius: 5px;
         padding-top: 2rem;
         padding-bottom: 1rem;
}
.service_section .left .facility{
    width: 237px;
         padding-left: 3rem;
         background-color: white;
         margin-right: 3rem;
         box-shadow: 0px 1px 20px 0px #00000014;
         border-radius: 5px;
         padding-top: 2rem;
         padding-bottom: 1rem;
}
.service_section .left .rocket{
    width: 234px;
    padding-left: 3rem;
    padding-right: 12px;
    background-color: white;
    margin-right: 3rem;
    box-shadow: 0px 1px 20px 0px #0000001a;
    border-radius: 5px;
    padding-top: 2rem;
    padding-bottom: 1rem;
    margin-top: 27px;
}
.service_section .left .user_arrows{
    width: 231px;
    padding-left: 39px;
    padding-right: 5px;
    background-color: white;
    box-shadow: 0px 1px 20px 0px #0000001a;
    border-radius: 5px;
    padding-top: 30px;
    margin-top: 27px;
}
.achievement{
    color: white;
       background-image: url(/images/Achievement\ \(2\).svg);
       padding-top: 30px;
       padding-bottom: 21px;
       font-family: Poppins, ExtraBold, serif;
}
.achievement .first{
    margin-left: 472px;
}
.achievement .first h2{
    font-size: 40px;
    font-family: Playfair Display,Black;
    margin-left: -39px;
    
}
.achievement p{
    margin-left: -23px;
}
.achievement .second hr{
    height: 90px;
}
.achievement .second{
    display: flex;
        justify-content: space-evenly;
        padding: 51px;
}
.achievement .second .firstcolumn{
    padding-left: 248px;
    text-align: center;
}
.achievement .second .secondcolumn{
    text-align: center;
}
.achievement .second .thirdcolumn{
padding-right: 224px;
text-align: center;
}
.client_testimonial{
    margin-top: -21px;
    background-color: rgba(242, 247, 255, 1);
    padding-top: 33px; padding-bottom: 7%;padding-right: 33px;
    padding-left: 88px;
}
.client_testimonial h2{
    text-align: center;
        font-size: 40px;
}
.client_testimonial .all{
    display: flex;
      justify-content: space-around;
}
.client_testimonial .all .firstTestimonial1{
    width: 38%;
}
.client_testimonial .all .firstTestimonial1 .stestimonial .firstopinion {
    background-color: white;
    text-align: center;
    padding: 15px;
    box-shadow: 3px 3px 20px 0px#00000026;
    border-radius: 10px;
    
}
.stestimonial .firstopinion  h4{
    font-family: Poppins,Medium;
                    font-size: 12px;
    
}
.stestimonial .firstopinion p{
    font-family: Poppins,Regular;
                    font-size: 12px;
    color: rgba(79, 79, 79, 1);
}
.firsttriangle{
    clip-path: polygon(100% 0, 0 0, 50% 32%);
                height: 34px;
               margin: 0 auto;
               background-color: white;
               width: 26px;
}
.client_identity{
    width: 50%;
                margin: 17px auto;
}
.client_identity img{
    width: 55px;
                    height: 55px;
                    float: left;
}
.client_identity strong{
    margin-left: 64px;
                    font-family: Poppins,medium;
                    display: block;
}
.client_identity span{
    margin-left: 10px;
                    font-family: Poppins, Regular, sans-serif;
                    color: rgba(79, 79, 79, 1);
                    font-size: small;
}
.stestimonial .first_client{
    width: 50%;
                margin: 17px auto;
}
.first_client img{
    width: 55px;
                    height: 55px;
                    float: left;
}
.first_client strong{
    margin-left: 64px;
                    font-family: Poppins,medium;
                    display: block;
}
.first_client span{
    margin-left: 10px;
                    font-family: Poppins, Regular, sans-serif;
                    color: rgba(79, 79, 79, 1);
                    font-size: small;
}
.secondTestimonial{
    width: 38%;
}
.secondTestimonial .ndtestimonial .secondopinion{
    background-color: white;
                text-align: center;
                padding: 15px;
                box-shadow: 3px 3px 20px 0px #00000026;
                border-radius: 10px;
}
.ndtestimonial .secondopinion h4{
    font-family: Poppins,Medium;
                    font-size: 12px;
}
.ndtestimonial .secondopinion p{
font-family: Poppins,Regular;
                    font-size: 12px;
    color: rgba(79, 79, 79, 1);
}
.secondtriangle{
    clip-path: polygon(100% 0, 0 0, 50% 32%);
                     height: 34px;
                    margin: 0 auto;
                    background-color: white;
                    width: 26px;
}
.ndtestimonial .client_identity2{
    width: 51%;
    margin: 21px auto;
    font-family: Poppins, Regular;
}
.client_identity2 img{
    width: 55px;
                    height: 55px;
                    float: left;
}
.client_identity2 strong{
    margin-left: 64px;
                    font-family: Poppins,medium;
                    display: block;
}
.client_identity2 span{
    margin-left: 18px;
                    font-family: Poppins, Regular, sans-serif;
                    color: rgba(79, 79, 79, 1);
                    font-size: small;
}
.questioning_section{
    margin: 48px 145px;
}
.questioning_section h3{
    font-size: 35px;
        font-family: Playfair Display,Bold,sans-serif;
}
.questioning_section p{
    font-family: Poppins , Regular, sans-serif;
        color: rgba(79, 79, 79, 1);
        font-size: 17px;
        width: 554px;
}
.questioning_section button{
    margin-top: 5%;
    background-color: rgba(9, 75, 114, 1);
    color: white;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    padding: 20px 55px;
    font-family: Poppins,Regular, sans-serif;
}
.footer_section .firstPart{
    background-color: rgba(9, 75, 114, 1);padding-bottom: 48px;
}
.footer_section .firstPart .logo img{
    width: 60%;
                float: left;
                margin-top: 64px;
                
}
.firstPart .lists{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-left: 94px;
    padding-right: 85px;
    color: white;
    font-family: Inter, Regular;
    font-size: 15px;
    padding-top: 105px;
    font-family: Inter, Regular, sans-serif;
    line-height: 30px;
}
.footer_item{
    list-style-type: none;
    margin-left: -38px;
}

.footer_link a{
    text-decoration: none;
    color: white;
}
.footer_section .secondPart {
    background-color: rgba(0, 77, 123, 1);
           padding: 1px;
}
.secondPart {
    display: flex;
    /* flex-direction: row; */
    justify-content: space-between;
    
}
.secondPart .rights p{
    padding-left: 153px;
                    color: rgba(217, 219, 225, 1);
                    font-size: 11px;
                    font-family: Inter,Regular, sans-serif;
}
.secondPart .social_media{
    padding-right: 165px;
}
.about_us{
    display: flex;
}
.about_us .premiere_partie{
    padding-left: 185px;
    padding-top: 82px;
    padding-right: 36px;
}
.premiere_partie h2{
    font-size: 32px;
}
.premiere_partie p{
    font-size: 18px;
    color: rgba(79, 79, 79, 1);
}
.about_us button{
    margin-top: 5%;
    background-color: rgba(9, 75, 114, 1);
    color: white;
    padding: 13px 50px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    padding-bottom: 5%;
}
.about_us .dexiemme_partie{
    padding-right: 121px;
    padding-top: 73px;
    padding-bottom: 50px;
}
.dexiemme_partie img{
    width: 530px;
}
.service{
    display: flex;
    padding-top: 70px;
    background-color: rgba(242, 247, 255, 1);
    margin-top: 61px;
}
.service .premier_service img{
    width: 485px;
    padding-left: 82px;
}
.service .dexieme_service{
    padding-right: 130px;
    padding-top: 89px;
}
.service .dexieme_service h2{
    font-size: 34px;
}
.service .dexieme_service p{
    font-size: 20px;
    color: rgba(79, 79, 79, 1);
}
.service .dexieme_service button{
    margin-top: 5%;
    background-color: rgba(9, 75, 114, 1);
    color: white;
    padding: 17px 38px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
}
.services_section{
    display: flex;
    flex-direction: row;
    background-color: rgba(242, 247, 255, 1);
    padding-bottom: 6rem;
}
.services_section .partleft{
    padding-left: 129px;
    padding-top: 54px;
    margin-right: 100px;
}
.services_section .partleft h2{
    font-size: 30px;
    font-family: Playfair Display , Bold;
}
.services_section .partleft p{
    color: rgba(79, 79, 79, 1);
    font-family: Poppins, Regular, sans-serif;
    color: #000000; 
    background-color: #f2f7ff; 
    font-size: 16px; 
    font-weight: normal;
}
.services_section .partright .top{
    display: flex;
    margin-right: 101px;
}
.top .maintenance{
    background-color: white;
    padding-left: 30px;
    padding-right: 10px;
    margin-right: 39px;
    padding-top: 16px;
    padding-bottom: 23px;
    border-radius: 17px;
    box-shadow: 1px 1px 20px 0px #0000001f;
}
.top .facility{
    background-color: white;
    padding-left: 30px;
    padding-right: 10px;
    margin-right: 39px;
    padding-top: 16px;
    padding-bottom: 23px;
    border-radius: 17px;
    box-shadow: 1px 1px 20px 0px #0000001f;
}
.services_section .partright .bottom{
    display: flex;
    margin-right: 101px;
    margin-top: 32px;
}
.bottom .rocket{
    background-color: white;
    padding-left: 30px;
    padding-right: 10px;
    margin-right: 39px;
    padding-top: 16px;
    padding-bottom: 23px;
    border-radius: 17px;
    box-shadow: 1px 1px 20px 0px #0000001f;
}
.bottom .user_arrows{
    background-color: white;
    padding-left: 30px;
    padding-right: 10px;
    margin-right: 39px;
    padding-top: 16px;
    padding-bottom: 23px;
    border-radius: 17px;
    box-shadow: 1px 1px 20px 0px #0000001f;
}
.contact_section{
    display: flex;
    flex-direction: column;
    padding-left: 195px;
    padding-top: 52px;
    padding-bottom: 88px;
}
.contact_section h2{
    font-family: Inter, Bold,sans-serif;
    font-size: 31px;
}
.contact_section input{
    padding-right: 745px;
    padding-bottom: 17px;
    padding-top: 18px;
    margin-bottom: 30px;
    background-color: rgba(217, 217, 217, 1);
    border: none;
}
.contact_section button{
    background-color: rgba(9, 75, 114, 1);
    color:white;
    padding: 14px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    margin-right: 933px;  
}
.contact_section .message_case input{
    padding-bottom: 41px;
    padding-top: 33px;
}